<%- include('header.ejs') -%>

  <main>
      <h1><%= title %></h1>
      <form action="/messages/create" method="post">
        <label for="nom">Nom</label><br>
        <input type="text" name="nom" id="nom" placeholder="Enrez votre nom"><br>
        <br>
        <label for="msg">Votre Message</label><br>
        <input type="text" name="msg" id="msg"><br>
        <br><br>
        <input type="submit" value="Envoyer les données">
      </form>
  </main>

<%- include('footer.ejs') -%>
